{% extends "home/base.html" %}
{% load static %}
{% block content %}
	<header>
		<div class="home-header">
			<h1>Welcome to ORI</h1>
			<h2>All your projects in one platform.</h2>
			<h2>Organised and efficient.</h2>
			<p>ORI is a web application that alleviates the process of working in group projects.</p>
		</div>
	</header>

	<main>
		<div class="home-main">
			<h3>TO-DO LIST</h3>
			<p>Keep track of the various deadlines and tasks of each project, and check the progress of your team.</p>
		</div>
		<div class="home-main">
			<h3>CALENDAR</h3>
			<p>Get a full view of you and your team's schedule and plan a suitable timing and place to meet up.</p>
		</div>
		<div class="home-main">
			<h3>DISCUSSION</h3>
			<p>Clarify and discuss easily on the same platform in your team's chat group.</p>
		</div>
		<div class="home-main">
			<h3>RESOURCES</h3>
			<p>Share your findings and any important notes with your team.</p>
		</div>
		<div class="home-main">
			<h4>Get started by signing up with your email address today!</h4>
			<a href="{% url 'register' %}"><button type="button" class="btn btn-outline-dark">Register now</button></a>
		</div>
	</main>

{% endblock content %}
