{% extends "home/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'about/main.css' %}">

<title>ORI | About</title>

<header>
  <h1>A one-stop platform for all group projects -
    <span style="color:#247ba0">organised</span> and
    <span style="color:#70c1b3">efficient</span></h1>
</header>

<body>
  <div class="about-body">
    <h2>About Us</h2>
    <p>With ORI, organise all your projects efficiently.</p>

    <p>Created in 2020, ORI serves as a one-stop for your many group projects.
      We have 4 main features: a to-do list, syncing of schedules, discussion
      and resource page.
      You get to keep track of contribution, find suitable meeting timing,
      chat and share findings with each other.
      No need to worry about missed dealines anymore.</p>

    <p>Sign up for free account with your email address.</p>
  </div>

  <div class="about-body">
    <h2>About Creators</h2>
    <p>Founded in Singapore over the summer of the year 2020 by two aspiring coders *__* </p>
  </div>

  <div class="about-body">
    <h2>Contact Us</h2>
    <p>Drop us an email at ori@gmail.com for any enquiries.</p>
  </div>
</body>


{% endblock content %}
